/out/production/Project 1/Animator$1.class
/out/production/Project 1/Animator.class
/out/production/Project 1/ImageArray.class
/out/production/Project 1/ImageTemplate.class
/out/production/Project 1/Main.class
